<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884785471762-3dgjeptfoefi4bj7p8likjcadb6oaet1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884785471762-3dgjeptfoefi4bj7p8likjcadb6oaet1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884785471762-nbdugrtnpb1v62fil4jqklovkjv0g7rq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeEn5w_S__vLaUUVodC6-rfphRQgRifYk</string>
	<key>GCM_SENDER_ID</key>
	<string>884785471762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matiasespina1991.template</string>
	<key>PROJECT_ID</key>
	<string>find-a-therapist-app</string>
	<key>STORAGE_BUCKET</key>
	<string>find-a-therapist-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884785471762:ios:163a442aa1f0254cabd3cb</string>
</dict>
</plist>